.form {
  width: 100%;
  /* border: 1px solid green; */
}

.form__field {
  width: calc(100% - 60px);
  padding: 10px 20px;
  margin: 10px auto;
  background: none;
  border: none;
  border-bottom: 1px solid #444;
   /* border-radius: var(--border-radius-basic); */
  font-size: 14px;
  line-height: 1.6;
  color: #444;
  font-weight: 300;
}
.button {
  background: var(--color-white);
  border: 3px solid var(--color-accent);
  cursor: pointer;
  margin: 10px auto;
  width: 300px;
  color: var(--color-accent);
   border-radius: var(--border-radius-basic);
  padding: 10px;
  font-size: 1.1rem;
  /* box-shadow: 3px 10px 10px 0px rgba(93, 110, 139, 0.4); */
  transition: 0.7s;
}

.button:hover {
  box-shadow: 0 5px 5px 0 rgba(38, 59, 94, 0.1);
}

@media (max-width: 500px) {
  .button {
    width: 100%;
  }
}

.form__error {
  color: red;
}
