.container {
  position: fixed;
  bottom: 4rem;
  right: -20px;
  cursor: pointer;
  transform: rotate(-90deg);
}

.container__text {
  position: relative;
}

.container__text:before,
.container__text:after {
  content: "";
  position: absolute;
  bottom: 6px;
  height: 1px;
  background-color: #222;
}

.container__text:before {
  left: 5rem;
  width: 40px;
}

.container__text:after {
  left: -1rem;
  width: 10px;
}

@media (max-width: 768px) {
  .container__text:before
  {
    bottom: 7px;
    left:6rem;
    height: 1px;
  }
  .container__text:after {
    left: -1.5rem;
    width: 10px;
    bottom:7px;
  }
}
